{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <!-- <h1 class="text-center mt-3">Welcoming Future Couples</h1> -->
          <div class="container-fluid">
            <div class="row mt-3">
              <div class="col col-sm-4">
                  <div class="mt-4">
                      <div style="border:1px solid rgb(144, 189, 21)" class="thumbnail text-center">
                          <h3 style="color:rgb(253, 8, 151)">Wishing U Happy Birthday</h3>
                          <h3 style="color:green">Alawys Be Happy</h3>
                          <p class="mt-4">
                              <span style="color:rgb(253, 8, 151);font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:green;font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:yellow;font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:rgb(0, 247, 255);font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:orangered;font-size:25px;" class="fa fa-heart"></span>
                          </p>
                          <h3 style="color:rgb(9, 255, 0)">Party Hard </h3>
                          <h3 class="" style="color:red">Enjoy Ur Day</h3>
                      </div>
                </div>
              </div>
              <div class="col col-sm-4">
                <div class="ml-4">
                    <img class="rounded-circle account-img" src="{{ user.birthday.image.url }}" alt="Fjords" style="width:300px;height:300px;">
                    <div style="margin-left: -40px" class="caption text-center mt-4">
                        <h2 style="color:rgb(200, 255, 0);">{{ user.birthday.queen }}</h2>
                    </div>
                </div>
              </div>
              <div class="col col-sm-4">
                  <div class="mt-4">
                      <div style="border:1px solid rgb(144, 189, 21)" class="thumbnail text-center">
                          <h3 style="color:red">All Ur Dreams Comes True</h3>
                          <h3 style="color:green">Always Be Smily</h3>
                          <p class="mt-4">
                              <span style="color:rgb(253, 8, 151);font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:green;font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:yellow;font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:rgb(0, 247, 255);font-size:25px;" class="fa fa-heart"></span>
                              <span style="color:orangered;font-size:25px;" class="fa fa-heart"></span>
                          </p>
                          <h3 style="color:rgb(9, 255, 0)">All The Best For Future</h3>
                          <h3 class="" style="color:red">Love U.. Miss U..</h3>
                      </div>
                </div>
              </div>
            </div>
          </div>
          
  {% endblock content %}